/* Import fonts to use. */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Nunito|Permanent+Marker&display=swap');

/* Predefined colors, to keep things tidy. */
/* Color Source: https://lospec.com/palette-list/slso8 */
/* Note: The brightest color (hotter) was modified for better text readability. */
:root {
 --colder: #0d2b45;
 --cold: #203c56;
 --cooler: #544e68;
 --cool: #8d697a;
 --warm: #d08159;
 --warmer: #ffaa5e;
 --hot: #ffd4a3;
 --hotter: #fffef8;
}

body {
  /* background-color is hand-picked, for better fade blending. */
  background-color: #222222;
  color: var(--colder);
  font-family: 'Nunito', sans-serif;
  opacity: 0;
  transition: opacity 0.5s linear;
}

img {
  -webkit-user-drag: none !important;
}

#background {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 110%;
  height: 110%;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: 50% 50%;
  filter: blur(0px);
  z-index: -1;
  transition: filter 0.5s linear, opacity 0.5s linear;
}

#card:hover ~ #background{
  filter: blur(1px);
  opacity: 0.9;
}

#card {
  position: relative;
  margin: 5px auto;
  margin-top: 64px;
  background-color: var(--hotter);
  max-width: 480px;
  min-height: 576px;
  border-radius: 6px;
  padding: 12px;
  padding-bottom: 32px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 4px 1px var(--warm);
  transition: box-shadow 0.5s linear
}

#card:hover {
  box-shadow: 0px 0px 4px 1px var(--cold);
}

#avatar {
  max-width: 220px;
  border-radius: 100%;
  padding: 12px;
  margin: 24px;
  background-color: var(--hotter);
  box-shadow: 0px 16px 92px -48px var(--cooler);
  z-index: -5;
  opacity: 0.8;
}

#title {
  display: block;
  margin: 0px auto;
}

#title a {
  font-size: 50px;
  padding-bottom: 2px;
  font-family: 'Permanent Marker', cursive;
  line-height: 12px;
  position: relative;
  top: -16px;
  color: var(--colder);
  text-decoration: none;
}

#title:first-letter, #title a span {
  font-size: 80px;
}

#subtext {
  color: var(--cool);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-family: 'Nanum Pen Script', cursive;
  margin-bottom: 32px;
}

.trello-card-compact {
  margin-bottom: 12px;
}

#contact {
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: var(--cool);
  letter-spacing: 0.2px;
  font-weight: bold;
  width: 100%;
}

#contact div {
  display: inline-block;
  font-weight: normal;
  color: var(--cool);
  line-height: 24px;
  padding: 2px;
  width: 45%;
}

#contact div:nth-child(2) {
  text-align: right;
  border-right: solid 1px var(--hot);
  padding-right: 3px;
}

#contact div:nth-child(3) {
  text-align: left;
}

#copyright {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  width: 300px;
  padding: 8px;
  text-align: center;
  color: var(--hotter);
  background-color: var(--colder);
  opacity: 0.9;
  border-radius: 6px;
}

/* ==== Badges ==== */

.badge {
  display: inline-block;
  position: relative;
  background-color: var(--warmer);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  opacity: 1;
  margin: 0px 12px;
  margin-top: -20px;
}

.badge:hover {
  opacity: 1;
  background-color: var(--warm);
  box-shadow: 0px 0px 4px 4px var(--hot);
}

.badge img {
  position: absolute;
  width: 32px;
  left: 8px;
  top: 8px;
  opacity: 100%;
}

/* ==== Buttons ==== */
#buttons {
  position: relative;
  max-width: 480px;
  font-size: 20px;
  padding-bottom: 48px;
}

.button-icon {
  position: absolute !important;
  display: inline-block;
  width: 48px;
  height: 48px;
  top: 0px;
  left: 16px;
  font-weight: bold;
  font-size: 32px;
}

#commissions {
  background-color: var(--warm);
  border-color: var(--cool);
}

#newgrounds {
  background-color: var(--cool);
  border-color: var(--cooler);
}

#newgrounds .button-icon {
  transform: scale(0.65);
  opacity: 0.8;
}

.button {
  position: relative;
  text-decoration: none;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
  line-height: 48px;
  letter-spacing: 1px;
  width: 75%;
  height: 48px;
  background-color: var(--warmer);
  color: var(--hotter);
  border: solid 0px var(--warm);
  border-radius: 3px;
  border-bottom-width: 4px;
}

.button:hover {
  border-bottom-width: 6px;
  margin-top: 10px;
}

.button:active {
  box-shadow: 0px 0px 0px 200px rgba(var(--colder),0.25) inset;
  color: rgba(255,255,255,0.77);
  border-bottom-width: 0px;
  margin-top: 16px;
}

/* ==== Mobile Stuff ==== */
@media only screen and (max-width: 450px) {
  .button-icon {
    display: none !important;
  }
  #title a {
    font-size: 40px;
    letter-spacing: -2px;
  }
  #title:first-letter, #title a span {
    font-size: 60px;
    letter-spacing: -2px;
  }
  #contact {
    font-size: 13px;
    letter-spacing: -0.5px;
  }
}
