/* Import fonts to use. */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Nunito&display=swap');

/* Predefined colors, to keep things tidy. */
/* Color Source: https://lospec.com/palette-list/slso8 */
/* Note: The brightest color (hotter) was modified for better text readability. */
:root {
 --colder: #0d2b45;
 --cold: #203c56;
 --cooler: #544e68;
 --cool: #8d697a;
 --warm: #d08159;
 --warmer: #ffaa5e;
 --hot: #ffd4a3;
 --hotter: #fffef8;
}

body {
  background-color: #eeeeee;
  color: var(--colder);
  font-family: 'Nunito', sans-serif;
  opacity: 0;
}

img {
  -webkit-user-drag: none !important;
}

a {
  text-decoration: none;
}

#card {
  position: relative;
  margin: 0px auto;
  margin-top: 64px;
  background-color: var(--hotter);
  max-width: 480px;
  min-height: 576px;
  border-radius: 2px;
  padding-bottom: 32px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 1px 1px var(--hot);
}

#avatar {
  display: block;
  position: relative;
  width: 256px;
  height: 256px;
  border-radius: 100%;
  margin: 64px auto;
  top: 32px;
  background-color: var(--warmer);
  z-index: -5;
  opacity: 0.8;
  overflow: hidden;
}

@keyframes slideMe {
  0% {
    transform: translateY(200%);
    width: 120%;
    height: 50%;
    left: -10%;
  }
  50% {
    transform: translateY(-10%);
    width: 80%;
    height: 120%;
    left: 9.5%;
  }
  75% {
    transform: translateY(50%);
    width: 125%;
    height: 75%;
    left: -12.5%;
  }
  92.5% {
    transform: translateY(-5%);
    width: 95%;
    height: 110%;
    left: 2.2%;
  }
  100% {
    transform: translateY(0%);
    width: 100%;
    height: 100%;
    left: 0%;
  }
}

#avatar img {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 5%;
  animation: 1s ease-in-out 0s 1 slideMe;
}

#title {
  display: block;
  font-size: 50px;
  line-height: 25px;
  position: relative;
  margin-bottom: 8px;
  color: var(--colder);
}

#description {
  position: relative;
  color: var(--cool);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-bottom: 32px;
}

#contact {
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: var(--cool);
  letter-spacing: 0.2px;
  font-weight: bold;
  width: 100%;
}

#contact div {
  display: inline-block;
  position: relative;
  font-weight: normal;
  color: var(--cool);
  line-height: 24px;
  padding: 2px;
  width: 45%;
}

#contact div:nth-child(2) {
  position: relative;
  text-align: right;
  border-right: solid 1px var(--hot);
  padding-right: 3px;
}

#contact div:nth-child(3) {
  text-align: left;
}

#copyright {
  display: block;
  margin: 16px auto;
  width: 300px;
  text-align: center;
  color: var(--cold);
  opacity: 0.9;
}

/* ==== Buttons ==== */
#buttons {
  position: relative;
  max-width: 480px;
  font-size: 20px;
  padding-bottom: 48px;
}

.button {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 12px auto;
  text-align: center;
  line-height: 48px;
  letter-spacing: 1px;
  width: 75%;
  height: 48px;
  background-color: var(--warmer);
  color: var(--hotter);
  /* Center the button press. */
  border-top: 4px solid var(--hotter);
  border-bottom: 4px solid var(--warm);
}

.button:hover {
  /* Raise the button press. */
  border-top: 2px solid var(--hotter);
  border-bottom-width: 8px;
  height: 46px;
  width: 73%;
}

.button:active {
  opacity: 0.5;
  width: 77%;
  /* Lower the button press. */
  border-top: 10px solid var(--hotter);
  border-bottom: 0px solid var(--warm);
}

/* ==== Mobile Stuff ==== */
@media only screen and (max-width: 450px) {
  .button-icon {
    display: none !important;
  }
  #title a {
    font-size: 40px;
    letter-spacing: -2px;
  }
  #title:first-letter, #title a span {
    font-size: 60px;
    letter-spacing: -2px;
  }
  #contact {
    font-size: 13px;
    letter-spacing: -0.5px;
  }
}
